<div ng-controller="rosterController">
  <h2>Roster edit {{roster.date}}</h2>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Name:</th>
        <th ng-repeat="date in rosterView.dates">{{date}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(email, dates) in rosterView.volunteers">
        <td>{{email}}</td>
        <td ng-repeat="date in dates" ng-class="{success: date.canAttend, error: !date.canAttend}">
          <input type="checkbox" ng-model="date.canAttend" ng-change="update(email, date.dateName, date.canAttend)" ng-if="date.editable">
        </td>
      </tr>
    </tbody>
  </table>

</div>
