<div ng-controller="rosterController">
  <h2>Create new roster</h2>

  <ol>
    <li>
      <h3>Enter e-mail addresses volunteers</h3>
      <form class="form-horizontal">
        <input type="text" placeholder="Enter user email" ng-model="newUsers">
      </form>
    </li>
    <li>
      <h3>Select date</h3>
      <div calendar></div>
    </li>
  </ol>
  <button ng-click="create()" class="btn">Create roster</button>

  <!-- <button ng-click="addKudos(5)" class="btn">set kudos</button> -->
  <!-- <button ng-click="getKudos()">get kudos</button> -->
</div>
